* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}
body .navbar {
  background-color: #000000;
}
body .navbar-brand img {
  width: 120px;
}
body svg {
  fill: white;
}
body .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  margin-right: 20px;
}
body .navbar-nav .nav-link:hover {
  color: #dddddd;
}
body .btn-login {
  background-color: #e52626;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 1.6rem;
}
body .btn-login:hover {
  background-color: #c41f1f;
}
body .navbar-toggler {
  border: none;
}
body .navbar-toggler:focus {
  box-shadow: none;
}
body header {
  margin-top: 100px;
  height: 100%;
}
@media (max-width: 450px) {
  body header {
    height: 500px;
  }
}
body header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 93%;
  left: 0;
  top: 0;
  background: linear-gradient(275deg, rgba(10, 10, 10, 0) 0, rgba(10, 10, 10, 0.8) 120%);
  z-index: -1;
}
body header .background-header, body header .background-header-desk {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
body header .background-header-desk {
  -o-object-fit: cover;
  object-fit: cover;
}
body header img.valorant-logo {
  width: 215px;
}
body header h2 {
  color: #fff;
  font-size: 1.688rem;
  font-weight: 700;
}
body header h5 {
  color: rgba(249, 249, 249, 0.6);
}
body header .btn {
  background: linear-gradient(135deg, #ff3342 0%, #ff7d66 50%, #ff7d66 100%);
  color: white;
  border: 0 solid transparent;
  border-radius: 18px;
}
body header .btn:hover {
  color: white;
  box-shadow: 0 10px 30px -10px rgba(255, 70, 84, 0.2509803922), 0 10px 30px -10px rgba(255, 70, 84, 0.5019607843), 0 10px 35px -10px rgba(255, 70, 84, 0.5019607843);
}
body header .btn h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
body header .btn span {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  background-color: #000;
  filter: drop-shadow(0 4px 3px rgba(10, 10, 10, 0.4));
}
body header .btn span svg {
  width: 16px;
  height: auto;
}
body .hiring-section {
  background-color: #f7f7f7;
  padding: 50px 0;
}
body .hiring-section .info-box {
  background-color: #c4bebe;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
body .hiring-section .btn-explore {
  background-color: #e52626;
  color: #ffffff;
  border: none;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 20px;
}
body .hiring-section .btn-explore:hover {
  background-color: #c41f1f;
}
body .hiring-section .text-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}
body .hiring-section .text-content p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #000000;
}
body .novidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px 0px 20px;
  background: radial-gradient(circle, rgba(255, 51, 65, 0.288), rgba(255, 51, 65, 0) 50%);
}
@media (min-width: 576px) {
  body .novidades {
    padding: 0px 30px 0px 30px;
  }
}
@media (min-width: 768px) {
  body .novidades {
    padding: 150px 50px 0px 50px;
  }
}
@media (min-width: 992px) {
  body .novidades {
    padding: 180px 70px 0px 70px;
  }
}
@media (min-width: 1200px) {
  body .novidades {
    padding: 100px 100px 0px 100px;
  }
}
@media (min-width: 1400px) {
  body .novidades {
    padding: 0px 100px 100px 100px;
  }
}
body .novidades-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body .novidades-left h2 {
  color: #f9f9f9;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 20px;
  flex: 1;
  text-align: center;
}
body .button {
  display: none;
  font-family: "Mark Pro", Arial, sans-serif;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
  background-color: #222222;
  color: #f9f9f9;
  font-size: 10px;
  border-radius: 5px;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.2;
  width: auto;
  min-width: 80px;
  max-width: 100%;
  white-space: nowrap;
}
@media (min-width: 700px) {
  body .button {
    display: flex;
    align-items: center;
  }
}
body .novidades-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
body .novidades-image {
  align-items: center;
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}
body .novidades-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s ease-out;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 576px) {
  body .novidades-content {
    gap: 15px;
  }
  body .novidades-image {
    margin-top: 15px;
  }
  body .novidades-image img {
    height: auto;
  }
}
@media (min-width: 768px) {
  body .novidades-content {
    gap: 20px;
  }
  body .novidades-image {
    margin-top: 20px;
  }
  body .novidades-image img {
    height: auto;
  }
}
@media (min-width: 992px) {
  body .novidades-content {
    gap: 25px;
  }
  body .novidades-left h2 {
    text-align: left;
  }
  body .novidades-image {
    margin-top: 25px;
  }
  body .novidades-image img {
    height: auto;
  }
}
@media (min-width: 1200px) {
  body .novidades-content {
    gap: 30px;
  }
  body .novidades-left h2 {
    text-align: left;
  }
  body .novidades-image {
    margin-top: 30px;
  }
  body .novidades-image img {
    height: auto;
  }
}
@media (min-width: 1400px) {
  body .novidades-content {
    gap: 30px;
  }
  body .novidades-left h2 {
    text-align: left;
  }
  body .novidades-image {
    margin-top: 35px;
  }
  body .novidades-image img {
    height: auto;
  }
}
body .novidades-image h3 {
  text-align: left;
  color: #f9f9f9;
  font-size: 28px;
  font-weight: 700;
  font-family: "Mark Pro", Arial, sans-serif;
  padding: 10px;
}
body .novidades-image p {
  font-weight: 700;
  font-size: 0.938rem;
  color: rgba(101, 100, 98, 0.9);
  margin: 8px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .container {
  display: flex;
}
body .small-icon {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}
body p {
  margin: 0;
  font-size: 16px;
}
body .novidades-image:hover img {
  transform: scale(1.02);
  transition: transform 0.3s ease-out;
}
body .novidades-right {
  display: flex;
  flex-wrap: wrap;
}
body .cards {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 20px auto;
  background-color: rgba(128, 128, 128, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
body .cards:hover {
  transform: translateY(-5px);
}
body .cards-content {
  display: flex;
  align-items: center;
}
body .cards-text {
  flex: 1;
  padding: 0 15px;
}
body .cards-text h3 {
  font-size: 1.25rem;
  color: #fff;
  margin: 0 0 8px 0;
}
body .cards-text .link {
  display: flex;
  align-items: center;
}
body .cards-text i {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141212;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin-right: 8px;
}
body .cards-text i svg {
  width: 20px;
  height: 20px;
}
body .cards-text p {
  font-weight: 800;
  font-size: 0.938rem;
  color: rgba(101, 100, 98, 0.9);
  margin: 8px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: center;
  white-space: nowrap;
}
body .cards-image {
  width: 35%;
  height: 140px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
body .card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1F1F1F;
  gap: 16px;
}
body .card-section-title {
  width: 100%;
  display: inline-block;
}
body .card-section h2 {
  color: #f9f9f9;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  flex: 1;
  line-height: inherit;
  text-align: center;
  padding: 50px;
}
body .card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: transparent;
  width: 370px;
  height: 170px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}
body .card:hover {
  border-color: rgba(255, 255, 255, 0.5137254902);
}
body .card .background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
body .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .overlay-image {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
}
body .overlay-image img {
  max-width: 20%;
  max-height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
body .icon {
  position: absolute;
  left: 20px;
  bottom: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  pointer-events: auto;
  border-radius: 50px;
  background-color: rgba(46, 53, 59, 0.3568627451);
  padding: 8px;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  body .card-section {
    gap: 24px;
  }
  body .card-section h2 {
    text-align: left;
    font-size: 3rem;
    padding: 70px;
  }
  body .card {
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
  }
  body .overlay-image {
    padding: 30px;
  }
  body .overlay-image img {
    max-width: 30%;
  }
  body .icon {
    left: 30px;
    bottom: 20px;
    padding: 12px;
  }
}
body footer {
  background-color: #252423;
  padding-block: 50px;
}
body footer ul {
  list-style: none;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  body footer ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
body footer ul li {
  text-wrap: nowrap;
  margin: 0.5rem 0;
}
@media (min-width: 992px) {
  body footer ul li {
    margin: 0 1rem;
  }
}
body footer ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}
body footer ul li a:hover {
  border-bottom: 1px solid #fff;
}
body footer ul li svg {
  width: 16px;
}
@media (min-width: 992px) {
  body footer ul li svg {
    width: 24px;
  }
}/*# sourceMappingURL=style.css.map */